/* ===== Google Font Import - Poppins ===== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #D0E4FF;
}


.container {
    position: relative;
    max-width: 430px;
    width: 100%;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
    text-align: center;
}

.container .form-title {
    font-size: 28px;
    font-weight: 600;
    color: #4070f4;
    margin-bottom: 20px;
}
img{
    width:250px;
    height:70px;
    min-width: 48px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 30px;
    margin-left: 70px;
    margin-top: 10px;
}

.input-group {
    position: relative;
    width: 100%;
    margin-top: 20px;
    text-align: left;
}

.input-group input {
    width: 100%;
    height: 45px;
    padding: 0 40px;
    font-size: 16px;
    border: none;
    border-bottom: 2px solid #ccc;
    border-radius: 5px;
    outline: none;
    transition: 0.3s;
}

.input-group input:focus,
.input-group input:valid {
    border-bottom: 2px solid #4070f4;
}

.input-group i.icon {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    font-size: 20px;
    color: #999;
    transition: 0.3s;
}

.input-group input:focus~i.icon {
    color: #4070f4;
}

.recover {
    text-align: right;
    margin-top: 10px;
}

.recover a {
    font-size: 14px;
    color: #4070f4;
    text-decoration: none;
}

.recover a:hover {
    text-decoration: underline;
}

.btn {
    margin-top: 20px;
    padding: 10px 25px;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    background-color: #4070f4;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    background-color: #265df2;
}

.links {
    margin-top: 20px;
    text-align: center;
}

.links p {
    font-size: 14px;
    color: #333;
}

.links button {
    background: none;
    border: none;
    color: #4070f4;
    font-size: 14px;
    cursor: pointer;
    transition: 0.3s;
}

.links button:hover {
    text-decoration: underline;
}


.recover a {
    font-size: 14px;
    color: #4070f4;
    text-decoration: none;
}

.recover a:hover {
    text-decoration: underline;
}
